.Card {
    margin: 0 10px 20px 10px;
    padding: 20px;
    background-color: white;
    box-sizing: border-box;
    border-radius: 20px;
    display: block;
}

.Card__titulo {
    text-align: center;
}
.Card__texto {
    font-size: 14px;
}
.Card__author {
    font-size: 16px;
}